<footer>
    <div class="f-info">
        <div class="f-info-socail">
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-square-instagram"></i>
<i class="fa-brands fa-linkedin"></i>

        </div>
        <div class="f-info-brand"> &copy Hostel Room</div>
        
        <div class="f-info-link">
    <a href="/privacy" class="d-block">Privacy Policy</a>
    <a href="/terms" class="d-block">Terms & Conditions</a>
</div>
    </div>
</footer>