<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
<div class="container-fluid">
    <a class="navbar-brand" href="/Rooms"><i class="fa-solid fa-hotel"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/Rooms">Explore</a>
        <a class="nav-link" href="/Rooms/about">About Us</a>
        <a class="nav-link" href="/Rooms/contact">Contact Us</a>
        

        <% if(currentUser && currentUser.role === "owner"){ %>
  <a  class="nav-link"href="/Rooms/new">Add Room</a>
<% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currentUser) { %>
        <a class="nav-link " aria-current="page" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if (currentUser) { %>
        <a class="nav-link" href="/logout"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>