
<% layout("/layouts/bolierplayte") %>
<div class="container mt-5">

  <h1 class="mb-3">Contact Us</h1>

  <p>
    Have questions or need help finding a hostel room?  
    Feel free to contact us anytime.
  </p>

  <div class="row">

    <!-- Contact Info -->
    <div class="col-md-4">
      <div class="card p-3">
        <h5><b>Email</b></h5>
        <p>support@hostelroom.com</p>

        <h5><b>Phone Number</b></h5>
        <p>+92-XXX-XXXXXXX</p>

        <h5> <b>Response Time</b></h5>
        <p>24 Hours</p>
      </div>
    </div>

    <!-- Contact Form -->
    <div class="col-md-8">

      <form>

        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Enter your name">
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" placeholder="Enter your email">
        </div>

        <div class="mb-3">
          <label class="form-label">Message</label>
          <textarea class="form-control" rows="5" placeholder="Write your message"></textarea>
        </div>
  




        <button class="btn btn-primary m-3">Send Message</button>

      </form>

    </div>

  </div>

</div>

