<% layout("/layouts/bolierplayte")%>
<div class="row">
      <div class="col-lg-6 col-md-8  ">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
           <div class="mb-2">
        <label for="username" class="form-label">UserName</label>
        <input type="text" name="username"   class="form-control" required>
        <div class="invalid-feedback">Please Enter Valid User  Name</div>
        </div>

          <div class="mb-2">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
        <div class="invalid-feedback">Please Enter Valid Email</div>
        </div>

         <div class="mb-2">
        <label for="password" class="form-label">Password</label>
<input type="password" name="password" class="form-control" required>
        <div class="invalid-feedback">Please Enter Valid Password</div>
        </div>
       
<div class="mb-2">
  <label for="role">Register as:</label>

  <select class="form-select" name="role" required>
    <option value="" selected disabled>Select role</option>
    <option value="customer">User</option>
    <option value="owner">Owner</option>
  </select>

  <div class="invalid-feedback">
    Please select a role
  </div>
</div>
      <button class="btn btn-dark mt-3 col-6 offset-3">SignUp</button>

        </form>
    </div>
</div>